.text-center {
  text-align: center;
}

.activity-grid {
  list-style: none;
}

.activity-grid-item {
  padding: 0 0 10px 20px;
}

.inactive {
  opacity: .2;
}

.activity-card {
  min-height: 120px;
}

.md-snackbar-content {
  justify-content: center;
}
